@charset "utf-8";
html {
    font-size: 62.5%;
}
body {
    background-color: #ffffe0;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
img {
    border-radius: 50%;
    width: 40px;
}
#wrapper {
    width: 600px;
    margin: 0 auto;    
}
/*******************************
* Chatタイトル
********************************/
.chat-header {
    background-color: #25303e;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 10px 0;
}
.title {
    margin: 0;
    padding: 0 0 0 20px;
    /* width: 100%; */
    color: white;
    font-size: 2.4rem;
    width: 50%;
}
.functions {
    display: flex;
    justify-content: space-between;
    width: 15%;
    padding: 10px;
}
.pageUp {
    /* margin: 0 0 0 10px; */
}
.pageUp:hover {
    cursor: pointer;
}
.pageDown {
    /* margin: 0 0 0 10px; */
}
.pageDown:hover {
    cursor: pointer;
}
/* .allClear {
    width: 35px;
}
.allClear:hover {
    cursor: pointer;
} */
/*******************************
* Chat表示エリア全体
********************************/
#chat-area {
    box-sizing: border-box;
    width: 600px;
    height: 83vh;
    overflow: auto;
    background-color: #7494C0;
    padding: 0 10px;
}
#output {
    /* display: block; */
    /* height: 100%; */
}

.left_box, .right_box {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    clear: both;
    font-size: 1.2rem;
}
.bin {
    width: auto;
}
.bin:hover {
    cursor: pointer;
    opacity: 0.5;
}
/*******************************
* 左からの吹き出し
********************************/
.left_balloon {
    position: relative;
    background: #edf1ee;
    border: 0px solid #777;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 300px; 
    font-size: 1.6rem;
}
.left_icon img {
    /* width: 50px; */
}
.left_clear {
    position: relative;
}
/*******************************
* 右からの吹き出し
********************************/
.right_box{
    float: right;
}
.sender_name_me {
    text-align: right;    
}
.right_balloon {
    color: #000000;
    position: relative;
    background: #8de055;
    border: 0px solid #777;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 300px; 
    font-size: 1.6rem;
}
.right_icon img {
    margin: 0 5px;
}
.right_clear {
    position: relative;
    float: right;
}
/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
    clear: both;
}
.sender_name{
    margin: 0 0 -5px 0;
    padding: 0 0 0 15px;
    color: rgba(0, 0, 0, .40);
}
.sender_name_me {
    margin: 0 0 -5px 0;
    padding: 0 15px 0 0;
}

/*******************************
* メッセージ入力エリア
********************************/
#message-area {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #edf1ee;
    height: 10vh;
    padding: 1vh;
    justify-content: space-between;
}
#icon-area {
    width: 30%;
}
#imgList{
    display: flex;
    justify-content: space-between;
}
.imgs img {
    width: 50px;
}
.imgs img:hover {
    cursor: pointer;
    opacity: 0.5;
}
.imgsClicked {
    box-shadow: 0 5px 10px black;
    border-radius: 50%;
    transform: translate(0, -5px);
}
.message-area-uname {
    width: 100%;
}
#uname {
    width: 100%;
    border-radius: 0.5rem;
    border: 1.5px solid #606060;
}
.message-area-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}
#text {
    border-radius: 0.5rem;
    border: 1.5px solid #606060;
    padding: 5px 0;
    
}
#send {
    width: 15%;
}

@media screen and (max-width: 640px) {
    
    #wrapper {
        width: 100%;
        margin: 0 auto;    
    }
    /*******************************
    * Chatタイトル
    ********************************/
    .chat-header {
        background-color: #25303e;
        margin: 0;
        display: flex;
        align-items: center;
        height: 5vh;
    }
    .title {
        margin: 0;
        text-align: center;
        width: 100%;
        color: white;
        font-size: 2.4rem;
    }
    /*******************************
    * Chat表示エリア全体
    ********************************/
    #chat-area {
        width: 100%;
        height: 81vh;
    }
    .bin {
        width: 10px;
    }
    /*******************************
    * 左からの吹き出し
    ********************************/
    .left_balloon {
        max-width: 200px;
        font-size: 1.4rem;
    }
    .left_icon img {
        width: 30px;
    }
    /*******************************
    * 右からの吹き出し
    ********************************/
    .right_balloon {
        max-width: 200px;
        font-size: 1.4rem;
    }
    .right_icon img {
        width: 30px;
    }
    /*******************************
    * メッセージ入力エリア
    ********************************/
    #message-area {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background-color: #edf1ee;
        height: 10vh;
        padding: 1vh;
        justify-content: space-between;
    }
    #icon-area {
        width: 30%;
    }
    #imgList{
        display: flex;
        justify-content: space-between;
    }
    .imgs img {
        width: 39px;
    }
}